.infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.infos_img {
    display: flex;
    padding-bottom: 10px;
}

.infos h1 {
    text-align: center;
    padding: 20px;
    color:  #4B5320;
    background-color: rgb(236, 75, 75);;

}

#destiny {
    margin-top: -15px;
}

.infos h3 {
    text-align: center;
    padding: 10px;
    color: #4B5320;
    background-color:rgb(236, 75, 75);;
}

@media (min-width: 991px) {
    #infos_international {
        justify-content: space-evenly;
    }

    .child_img {
        margin-left: 5px;
    }
    .infos_img {
        padding: 10px;
    }
  }

@media (max-width: 990px) {
    .infos_img {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;

    }
    .child_img {
        margin-top: 20px;
    }
}