.infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.infos_img {
    display: flex;
    padding: 30px;
}

.infos h1 {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color:  #333333;
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;


}

#destiny {
    margin-top: -15px;
}

.infos h3 {
    width: 30%;
    margin:auto;
    text-align: center;
    border-radius: 50px;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    padding: 10px;
    color: #333333;
    background-color:rgb(236, 75, 75);
    box-shadow: 0 0 20px rgba(136, 135, 135, 0.847);
}

@media (min-width: 991px) {
    #infos_international {
        justify-content: space-evenly;
    }

    .child_img {
        margin-left: 5px;
    }
    .infos_img {
        padding: 40px;
    }
  }

@media (max-width: 990px) {
    .infos_img {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px;

    }

    .infos h3 {
    width: 80%;
    }
    .child_img {
        margin-top: 20px;
    }
}

@media (max-width: 300px) {
    .infos h3 {
        width: 80%;
        }
  }