@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Amatic+SC&family=Bangers&family=Bebas+Neue&family=Dosis:wght@600&family=Lobster&family=Montserrat:wght@700&family=Oswald&family=Playfair+Display:wght@800&family=Poppins:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
